.lelo{
width:35%;

margin:auto;
margin-top: 10rem;
background: linear-gradient(rgb(151, 218, 211),rgb(154, 189, 224));
height:24rem;
text-align: center;
padding: 20px;
}
body{
  background-color: azure;
}

.image{
  border-radius: 50%;
  height:10rem;
  width: 10rem;
}
.leftright{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  /* background-color: beige; */
}

.btn-go{
  background-color: aliceblue;
  border-radius: 10px;
  border:1px solid snow;
  color:rgb(141, 141, 70)
}
.btn-random{
  background-color: aquamarine;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border:0;
}